*{
    margin: 0;
    padding: 0;
}
body{
    background-color:antiquewhite;
    font-family:fantasy;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color:aliceblue;
    width: 400px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 10px 25px  black;
}
img{
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
h2{
    font-size: 20px;
    margin-bottom: 10px;
}
p{
    color:aliceblue;
    font-size: 15px;
    margin-bottom: 5px;
}
.details p a{
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 5px;
}
.buttons a{
    text-decoration: none;
    background-color:aquamarine;
    color:white;
    padding: 7px;
    border-radius: 5px;
    margin: 10px;
}
.buttons {
    margin-top: 30px;
}
.buttons a:hover{
    background-color:black;
}